[submodule "COO/projets/Scheduler"]
	path = COO/projets/Scheduler
	url = https://github.com/FrKevin/Scheduler.git
[submodule "COO/projets/Courriers"]
	path = COO/projets/Courriers
	url = https://github.com/FrKevin/Courriers.git
[submodule "COO/projets/Plugins"]
	path = COO/projets/Plugins
	url = https://github.com/FrKevin/Plugins.git
