[submodule "PDS/Cours/amphi"]
	path = PDS/Cours/amphi
	url = http://www.fil.univ-lille1.fr/~hym/d/pds.git
[submodule "COO/projets/Scheduler"]
	path = COO/projets/Scheduler
	url = git@github.com:FrKevin/Scheduler.git
[submodule "COO/projets/Courriers"]
	path = COO/projets/Courriers
	url = git@github.com:FrKevin/Courriers.git
